<div class="container">
	<div class="row text-center">
		<div class="col-md-3 col-sm-6">
			<img src="assets/images/4-col/pic1.jpg" alt="1st">
			<h4 class="space">Our Game</h4>
			<div class="text-muted">
				<p align="justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
			</div>
			<button type="button" class="btn btn-primary">View Details&raquo;</button>
		</div><!-- col-md-3 -->
		<div class="col-md-3 col-sm-6">
			<img src="assets/images/4-col/pic2.jpg" alt="2nd">
			<h4 class="space">Our Expertise</h4>
			<div class="text-muted">
				<p align="justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
			</div>
			<button type="button" class="btn btn-primary">View Details&raquo;</button>
		</div><!-- col-md-3 -->
		<div class="col-md-3 col-sm-6">
			<img src="assets/images/4-col/pic3.jpg" alt="3rd">
			<h4 class="space">Our Team</h4>
			<div class="text-muted">
				<p align="justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
			</div>
			<button type="button" class="btn btn-primary">View Details&raquo;</button>
		</div><!-- col-md-3 -->
		<div class="col-md-3 col-sm-6">
			<img src="assets/images/4-col/pic4.jpg" alt="4th">
			<h4 class="space">Our Goal</h4>
			<div class="text-muted">
				<p align="justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
			</div>
			<button type="button" class="btn btn-primary">View Details&raquo;</button>
		</div><!-- col-md-3 -->
	</div><!-- row -->
</div><!-- container -->
<div class="space"></div>
<div class="container">
	<div class="row">
		<div class="col-md-4">
			
		</div>
	</div><!-- row -->
</div><!-- container -->










<div class="container">
	<div>
		<img class="img-fluid"src="assets/images/3-col/pic2.jpg">
	</div>
	<div class="loginBox">
		<div class="glass">
			<img class="user" src="assets/images/user/user.png">
			<h3>Sign up Here</h3>
			<form>
				<div class="inputBox">
					<input type="text" name="" placeholder="Username">
					<span><i class="fa fa-user" aria-hidden="true"></i></span>
				</div><!-- inputBox -->
				<div class="inputBox">
					<input type="email" name="" placeholder="Email">
					<span><i class="fa fa-envelope" aria-hidden="true"></i></span>
				</div><!-- inputBox -->
				<div class="inputBox">
					<input type="password" name="" placeholder="Password">
					<span><i class="fa fa-lock" aria-hidden="true"></i></span>
				</div><!-- inputBox -->
				<input type="submit" name="" value="Signup">
			</form>
		</div><!-- glass -->
	</div><!-- loginBox -->
</div><!-- container -->




<div>
	<p></p>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-8">
			<div class="col-md-4">
				<div class="card mr-5">
				<img class="card-img-top" src="assets/images/3-col/pic1.jpg" alt="trending recipe1">
				<div class="card-body">
					<h5>Easy Cheese</h4>
					<img src="http://images.media-allrecipes.com/ar-images/icons/rating-stars/full-star-2015.svg">
					<img src="http://images.media-allrecipes.com/ar-images/icons/rating-stars/full-star-2015.svg">
					<img src="http://images.media-allrecipes.com/ar-images/icons/rating-stars/full-star-2015.svg">
					<img src="http://images.media-allrecipes.com/ar-images/icons/rating-stars/full-star-2015.svg">
					<img src="http://images.media-allrecipes.com/ar-images/icons/rating-stars/half-star-2015.svg">
					<p align="justify text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
				</div><!-- card-body-->
			</div><!-- card -->
			<div class="card">
				<img class="card-img-top" src="assets/images/3-col/pic1.jpg" alt="trending recipe1">
				<div class="card-body">
					<h5>Easy Cheese</h4>
					<img src="http://images.media-allrecipes.com/ar-images/icons/rating-stars/full-star-2015.svg">
					<img src="http://images.media-allrecipes.com/ar-images/icons/rating-stars/full-star-2015.svg">
					<img src="http://images.media-allrecipes.com/ar-images/icons/rating-stars/full-star-2015.svg">
					<img src="http://images.media-allrecipes.com/ar-images/icons/rating-stars/full-star-2015.svg">
					<img src="http://images.media-allrecipes.com/ar-images/icons/rating-stars/half-star-2015.svg">
					<p align="justify text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
				</div><!-- card-body-->
			</div><!-- card -->
			</div><!-- col-md-12 -->
		</div><!-- col-md-8 -->
		<div class="col-md-3">
			<div class="col-md-6">
				<div class="card">
				<img class="card-img-top" src="assets/images/3-col/pic1.jpg" alt="trending recipe1">
				<div class="card-body">
					<h5>Easy Cheese</h4>
					<img src="http://images.media-allrecipes.com/ar-images/icons/rating-stars/full-star-2015.svg">
					<img src="http://images.media-allrecipes.com/ar-images/icons/rating-stars/full-star-2015.svg">
					<img src="http://images.media-allrecipes.com/ar-images/icons/rating-stars/full-star-2015.svg">
					<img src="http://images.media-allrecipes.com/ar-images/icons/rating-stars/full-star-2015.svg">
					<img src="http://images.media-allrecipes.com/ar-images/icons/rating-stars/half-star-2015.svg">
				</div><!-- card-body-->
				<div class="card">
				<img class="card-img-top" src="assets/images/3-col/pic1.jpg" alt="trending recipe1">
				<div class="card-body">
					<h5>Easy Cheese</h4>
					<img src="http://images.media-allrecipes.com/ar-images/icons/rating-stars/full-star-2015.svg">
					<img src="http://images.media-allrecipes.com/ar-images/icons/rating-stars/full-star-2015.svg">
					<img src="http://images.media-allrecipes.com/ar-images/icons/rating-stars/full-star-2015.svg">
					<img src="http://images.media-allrecipes.com/ar-images/icons/rating-stars/full-star-2015.svg">
					<img src="http://images.media-allrecipes.com/ar-images/icons/rating-stars/half-star-2015.svg">
				</div><!-- card-body-->
			</div><!-- card -->
		</div><!-- col-md-4 -->
	</div><!-- row -->
</div><!-- container -->












<div class="container">
	<div class="row">
		<div class="col-md-6">
			<div class="card text-center">
				<img class="card-img-top" src="assets/images/slider/pic1.jpg" alt="recipe1">
				<div class="card-body">
					<h5 class="text-muted">Normal Cheese</h4>
					<a class="btn btn-primary" href="#">Details&raquo;</a>
				</div><!-- card-body-->
			</div><!-- card -->
			<div class="card text-center">
				<img class="card-img-top" src="assets/images/slider/pic1.jpg" alt="recipe1">
				<div class="card-body">
					<h5 class="text-muted">Normal Cheese</h4>
					<a class="btn btn-primary" href="#">Details&raquo;</a>
				</div><!-- card-body-->
			</div><!-- card -->
		</div><!-- col-md-3 -->
		<div class="col-md-3">
			<div class="card text-center">
				<img class="card-img-top" src="assets/images/slider/pic1.jpg" alt="recipe1">
				<div class="card-body">
					<h5 class="text-muted">Normal Cheese</h4>
				</div><!-- card-body-->
			</div><!-- card -->
		</div><!-- col-md-3 -->
		<div class="col-md-3">
			<div class="card text-center">
				<img class="card-img-top" src="assets/images/slider/pic1.jpg" alt="recipe1">
				<div class="card-body">
					<h5 class="text-muted">Normal Cheese</h4>
				</div><!-- card-body-->
			</div><!-- card -->
		</div><!-- col-md-3 -->
	</div><!-- row -->
	<hr>
</div><!-- container -->