<!DOCTYPE html>
<html>
<head>
	<title>Dashboard</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width initial-scale=1">
	<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="assets/css/style3.css">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<div>
	<nav class="navbar navbar-expand-lg navbar-light bg-light mb-1">
	    <a class="navbar-brand" href="index.html">More-Recipes <i class="fa fa-cutlery" aria-hidden="true"></i></a>
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#Mynavbar" aria-controls="Mynavbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
		<div class="collapse navbar-collapse" id="Mynavbar">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item active">
					<a class="nav-link" href="dashboard.html">Dashboard <i class="fa fa-dashboard" aria-hidden="true"></i><span class="sr-only">(current)</span></a>
				</li>
			</ul>
		</div><!-- collapse navbar-collapse -->
	</nav>
</div><!-- container -->
<div class="container-fluid">
	<div class="row">
		<div class="col-md-3">
			<!-- <p class="lead">More-Recipes</p> -->
			<div class="list-group">
				<li class="list-group-item active"><a href="dashboard.html"><i class="fa fa-user" aria-hidden="true"></i> Profile</a></li>
				<li class="list-group-item"><a href="minirecipe.html"><i class="fa fa-cutlery" aria-hidden="true"></i> Recipes</a></li>
				<li class="list-group-item "><a href="favorites.html"><i class="fa fa-heart" aria-hidden="true"></i> Favorites</a></li>
				<li class="list-group-item"><a href="#"><i class="fa fa-cog" aria-hidden="true"></i> Settings</a></li>
				<li class="list-group-item "><a href="index.html"><i class="fa fa-power-off" aria-hidden="true"></i> Log out</a></li>
			</div><!-- list-group -->
		</div><!-- col-md-3 -->
		<div class="col-md-9">
<!-- 		<div class="user">
			<img class="user" src="assets/images/user/user.png">
		</div> -->
			<div class="card mb-3">
				<!-- <img class="user" src="assets/images/user/user.png"> -->
				<div class="card-body">
					<h4 class="card-title pad">Blvckleumas</h4>
					<h6 class="card-subtitle mb-2 text-muted pad">Kitchen god</h6>
					<p class="card-text pad">Joined: 2017-10-16</p>
					<p class="card-text left"><i class="fa fa-envelope" aria-hidden="true"></i> Email: blvck@gmail.com</p>
					<p class="card-text left"><i class="fa fa-user" aria-hidden="true"></i> Username: blvckleumas</p>
					<p class="card-text left"><i class="fa fa-user" aria-hidden="true"></i> First Name: John</p>
					<p class="card-text left"><i class="fa fa-user" aria-hidden="true"></i> Last Name: Doe</p>
				</div><!-- card-body -->
			</div><!-- card -->
				<div class="row">
				<div class="col-lg-3 col-md-6">
			<div class="card text-center">
				<img class="card-img-top" src="assets/images/slider/pic1.jpg" alt="recipe1">
				<div class="card-body">
					<h5 class="text-muted">Normal Cheese</h4>
								<div>
				<a class="btn btn-outline-success mb-4" href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i> 13</a>
				<a class="btn btn-outline-danger mb-4" href="#"><i class="fa fa-thumbs-down" aria-hidden="true"></i> 11</a>
			</div>
					<a class="btn btn-sm btn-primary" href="details.html"><i class="fa fa-info" aria-hidden="true"></i> Info</a>
				</div><!-- card-body-->
			</div><!-- card -->
		</div><!-- col-md-3 -->
		<div class="col-lg-3 col-md-6">
			<div class="card text-center">
				<img class="card-img-top" src="assets/images/slider/pic1.jpg" alt="recipe1">
				<div class="card-body">
					<h5 class="text-muted">Normal Cheese</h4>
								<div>
				<a class="btn btn-outline-success mb-4" href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i> 13</a>
				<a class="btn btn-outline-danger mb-4" href="#"><i class="fa fa-thumbs-down" aria-hidden="true"></i> 11</a>
			</div>
					<a class="btn btn-sm btn-primary" href="details.html"><i class="fa fa-info" aria-hidden="true"></i> Info</a>
				</div><!-- card-body-->
			</div><!-- card -->
		</div><!-- col-md-3 -->
		<div class="col-lg-3 col-md-6">
			<div class="card text-center">
				<img class="card-img-top" src="assets/images/slider/pic1.jpg" alt="recipe1">
				<div class="card-body">
					<h5 class="text-muted">Normal Cheese</h4>
								<div>
				<a class="btn btn-outline-success mb-4" href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i> 13</a>
				<a class="btn btn-outline-danger mb-4" href="#"><i class="fa fa-thumbs-down" aria-hidden="true"></i> 11</a>
			</div>
					<a class="btn btn-sm btn-primary" href="details.html"><i class="fa fa-info" aria-hidden="true"></i> Info</a>
				</div><!-- card-body-->
			</div><!-- card -->
		</div><!-- col-md-3 -->
		<div class="col-lg-3 col-md-6">
			<div class="card text-center">
				<img class="card-img-top" src="assets/images/slider/pic1.jpg" alt="recipe1">
				<div class="card-body">
					<h5 class="text-muted">Normal Cheese</h4>
								<div>
				<a class="btn btn-outline-success mb-4" href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i> 13</a>
				<a class="btn btn-outline-danger mb-4" href="#"><i class="fa fa-thumbs-down" aria-hidden="true"></i> 11</a>
			</div>
					<a class="btn btn-sm btn-primary" href="details.html"><i class="fa fa-info" aria-hidden="true"></i> Info</a>
				</div><!-- card-body-->
			</div><!-- card -->
		</div><!-- col-md-3 -->

		</div>
		</div><!-- col-md-9 -->
	</div><!-- row -->
</div><!-- container -->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</body>
</html>