html {
	height: 100%;
}

@media(max-width: 575px) {

}
@media (min-width: 576px) and (max-width: 767px) {

}
@media (min-width: 768px) and (max-width: 991px) {
	
}
@media (min-width: 992px) and (max-width: 1199px) {
	.form-inline .form-control {
	width: 22rem
}
.btn-outline-success{
	margin-right: 3px
}
}
@media (min-width: 1200px) {
	.form-inline .form-control {
	width: 32rem
}
.btn-outline-success{
	margin-right: 3px
}
}
.navbar-light {
	background: #1275FB !important;
}

.collapse.navbar-collapse ul li a.nav-link {
	color: #fff;
}

.collapse.navbar-collapse ul li.active a.nav-link {
	color: #fff;
}
.collapse.navbar-collapse ul li a.nav-link:hover {
	color: #000;
}
.navbar.navbar-expand-lg.navbar-light.bg-light a.navbar-brand {
	color: #fff;
}
.navbar.navbar-expand-lg.navbar-light.bg-light a.navbar-brand:hover {
	color: #ccc;
}
a.navbar-brand {
	border: 1px solid #ccc;
	padding: 0.3rem;
	border-radius: 0.2rem;
}
.nav-item:hover {
	background: #F9F461;
}
.nav-item {
	padding: 0 1rem;
}
.center {
	margin: 0 auto;
}
form >.btn-outline-success {
	border: 1px solid #fff;
	color: #fff;
}
form >.btn-outline-success:hover {
	background: #F9F461;
}
img {
	max-width: 100%;
	height: auto;
}
hr {
	border-top: 15px solid #1275FB;
}
.special {
	color: #F9F461;
}
.card {
	border-bottom: 4px solid #77E2E1
}
.space {
	padding-top: 1rem;
}
.footer {
	background: #1275FB;
	color: #fff;
	padding: 1rem 0;
}
.social ul li:hover {
	color: #F9F461;
}
div > .btn.btn-primary.mb-4 {
	background-color: #ed292a;
	border-color: #ed292a;
}
.fancy {
	color: #f9f109;
	font-weight: 900
}
.middle {
	display: block;
	margin: auto;
}