html {
	height: 100%;
}

.navbar-light {
	background: #1275FB !important;
}

.collapse.navbar-collapse ul li a.nav-link {
	color: #fff;
}

.collapse.navbar-collapse ul li.active a.nav-link {
	color: #fff;
}
.collapse.navbar-collapse ul li a.nav-link:hover {
	color: #000;
}
.navbar.navbar-expand-lg.navbar-light.bg-light a.navbar-brand {
	color: #fff;
}
.navbar.navbar-expand-lg.navbar-light.bg-light a.navbar-brand:hover {
	color: #fff;
}
a.navbar-brand {
	/* border: 1px solid #ccc; */
	padding: 0.3rem;
	border-radius: 0.2rem;
}
.nav-item:hover {
	background: #fff;
}
.nav-item {
	padding: 0 1rem;
}
@media(max-width: 575px) {
.loginBox {
	width: 300px;
}
}
@media (min-width: 576px) and (max-width: 767px) {
.loginBox {
	width: 350px;
}
}
@media (min-width: 768px) and (max-width: 991px) {
.loginBox {
	width: 600px;
}
}
@media (min-width: 992px) and (max-width: 1199px) {
.loginBox {
	width: 600px;
}
}
@media (min-width: 1200px) {
.loginBox {
	width: 600px;
}
}

.loginBox {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	 /* width: 350px;  */
	box-sizing: border-box;
	background: transparent;
	box-shadow: 0 10px 20px rgba(0,0,0,.5);
	transition: .5s;
}
.glass {
	width: 100%;
	height: 100%;
	padding: 40px;
	box-sizing: border-box;
	background: rgba(255,255,255,.1);
	border-radius: 5px;
	transition: .5;
}
.user {
	margin: 0 auto;
	display: block;
	margin-bottom: 20px;
}
/*h3 {
	margin: 0;
	padding: 0 0 20px;
	color: #262626;
	text-align: center;
}
.loginBox input {
	width: 100%;
	margin-bottom: 20px;
}*/

body {
    background-image: url("../images/3-col/image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.card {
	/*width: 40%;*/
	margin: 0 auto;
}
/*.form-control {
	border: none;
	background: transparent;
	outline: none;
	color: #fff;
	border-bottom: 2px solid #262626;
	box-sizing: boder-box;
}*/
/*.form-group {
	position: relative;
}
.form-group span {
	position: absolute;
	top: 10px;
	padding-right: 30px
}*/
.btn-primary {
    background-color: #ed292a;
    border-color: #ed292a;
    border-radius: 20px
}
.btn-secondary {
	 border-radius: 20px
}
.btn-primary:hover {
	background: #ed292a
}