html {
	height: 100%;
}

img {
	min;
}
@media(max-width: 575px) {
.display-4 {
	font-size: 2rem;
}
}

@media (min-width: 576px) and (max-width: 767px) {

}
@media (min-width: 768px) and (max-width: 991px) {
	
}
@media (min-width: 992px) and (max-width: 1199px) {
	
}
@media (min-width: 1200px) {
	.copyright {
	text-align: right;
}
}
.navbar-light {
	background: #1275FB !important;
}

.collapse.navbar-collapse ul li a.nav-link {
	color: #fff;
}

.collapse.navbar-collapse ul li.active a.nav-link {
	color: #fff;
}
.collapse.navbar-collapse ul li a.nav-link:hover {
	color: #000;
}
.navbar.navbar-expand-lg.navbar-light.bg-light a.navbar-brand {
	color: #fff;
}
.navbar.navbar-expand-lg.navbar-light.bg-light a.navbar-brand:hover {
	color: #ccc;
}
a.navbar-brand {
	border: 1px solid #ccc;
	padding: 0.3rem;
	border-radius: 0.2rem;
}
.nav-item:hover {
	background: #F9F461;
}
.nav-item {
	padding: 0 1rem;
}
/*.jumbotron {
	background: #fff;
}*/
.space {
	padding-top: 1rem;
}

input, button, select, optgroup, textarea {
	margin: 0.6rem;
}

h3, .h3 {
    font-size: 2rem;
    font-weight: 900;
    color: #F9F461;
}
h1, h2, h3, h4, h6, .h1, .h2, .h3, .h4, .h6 {
	color: #F9F461;
}
.big {
	font-size: 1.6rem;
    font-weight: 700;
}
.footer {
	background: #1275FB;
	color: #fff;
	padding: 1rem 0;
}
.social ul li:hover {
	color: #F9F461;
}
.card {
	border-bottom: 4px solid #77E2E1
}
.fancy {
	color: #f9f109;
	font-weight: 900
}